<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concentrix Feedback Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
   {% stylesheets 
      'bundles/bootstrap/dist/css/bootstrap.css'
      'bundles/alertify-js/themes/alertify.core.css' 
      'bundles/alertify-js/themes/alertify.default.css' 
      '@FeedbackUserBundle/Resources/public/css/login_styles.css'
      'bundles/feedback/main.css'
		'bundles/extjs-master/resources/ext-theme-neptune/ext-theme-neptune-all.css'
		'bundles/extjs-master/resources/ext-theme-neptune/style.css'
      filter='cssrewrite'
    %}
      <link rel="stylesheet" href="{{asset_url}}" />
    {% endstylesheets %}

    {% javascripts 
      'bundles/bootstrap/assets/js/jquery.js'
      'bundles/jquery-validation/dist/jquery.validate.min.js'
      'bundles/jquery-validation/dist/additional-methods.min.js'
      'bundles/alertify-js/lib/alertify.min.js'
      'bundles/bootstrap/dist/js/bootstrap.min.js'
      'bundles/extjs-master/ext-all.js'
      '@FeedbackUserBundle/Resources/public/js/pantry_user_js.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <style type="text/css">
      body {
        font-family: Segoe UI !important;
      }
      .form-container {
        max-width: 1124px;
        margin: 65px auto;
        padding: 25px;
        border: 1px solid #e3e3e3;
      }
      .anonymous-login {
        margin-top: 20px;
        display: block;
      }
      .survey-type {
        margin-top: 30px;
      }
      .middle-or {
        display: block;
        margin-top: 125px;
        font-size: 28px;
      }
    </style>
</head>
<body>

<div class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">
            {% image '@FeedbackUserBundle/Resources/public/images/cnx_new_header_logo_white.png' %}
            <img class="img-responsive" src="{{  asset_url }}" alt="logo">
            {% endimage %}
          </a>  
        </div>
    </div>    
</div>

<div class="row form-container">
    <div class="col-md-5">
      <form class="survey-anonymous">
        <input type="hidden" name="anonymous" value="1" />
        <select name="selected_values-inputEl" placeholder="Please Select a Survey" class="survey-type form-control">
          <option value="">Select a Survey</option>
          {% for s in survey_type %}
            <option value="{{s.id}}">{{s.description}}</option>
          {% endfor %}
        </select>
        {% image '@FeedbackUserBundle/Resources/public/images/take_survey.jpg' %}
          <a href="#" value="1" class="anonymous-login"><img class="img-responsive" src="{{  asset_url }}" alt="logo"></a>
        {% endimage %}
        <div class="row" style="margin-top: 10px">
          <div style="float: left;" class="alert col-sm-2">
            <p>&nbsp;</p>
          </div>
          <div id="anonymouse-msg" class="alert alert-success col-sm-9" role="alert" style="display: none; float: right;">
            <strong></strong><p></p>
          </div>
          
        </div>
      </form><!--.survey-anonymous-->
    </div><!--.col-md-6-->
    <div class="col-md-3"><span class="middle-or text-center">OR</span></div>
    <div class="col-md-4">
    <form id="login" role="form">
        <fieldset>
            <h3 class="text-center">Tell us what you think, login and take our survey.</h3>
            <hr class="colorgraph">
            <div class="form-group">
                <input name="username" id="email" class="form-control input-lg" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
            </div>                        
            <div class="form-group">
              <select name="selected_values-inputEl" placeholder="Please Select a Survey" class="survey-type form-control">
                <option value="" style="text-align: center; ">--- Select a Survey ---</option>
                {% for s in survey_type %}
                  <option value="{{s.id}}">{{s.description}}</option>
                {% endfor %}
              </select>
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="btn btn-lg btn-success btn-block" id="btnLogin">Login</a>
                </div>
                <div class="col-md-6 ">
                {% image '@FeedbackUserBundle/Resources/public/images/ajax-load.gif' %}
                  <img width="30" style="display: none;" class="pull-right img-responsive employee-loader" src="{{  asset_url }}" alt="logo">
                  {% endimage %}
                </div>
                <!-- <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login as anonymous">
                </div> -->
            </div>
            <div class="row" style="margin-top: 10px">
              <div style="float: left;" class="alert col-sm-2">
                <p>&nbsp;</p>
              </div>
              <div id="main-page-msg" class="alert alert-success col-sm-9" role="alert" style="display: none; float: right;">
                <strong></strong><p></p>
              </div>
              
            </div>
        </fieldset>
      </form>
    </div><!--.col-md-6-->
</div>

<script type="text/javascript">
    
    $('.anonymous-login').on('click', anonymousLogin);
    $('#btnLogin').on('click', validateLogin);
    $('#login input').keypress(function(e) {
      if (e.which == 13) {
        $('#btnLogin').trigger('click');
      }
    });

    function anonymousLogin(){
      var anonymous_form =$('.survey-anonymous').serialize();
      var btn = $(this);
      if(btn.hasClass('disabled'))
        return;

      btn.addClass('disabled');
      $.ajax({
            url: 'login_check',
            type: 'POST',
            data: anonymous_form,
            success: function(data){
               $('.employee-loader').hide();
               if(data.status !== "success"){
                btn.removeClass('disabled');
                 handleResult({
                    id : 'anonymouse-msg',
                    success: false,
                    msg: data.msg
                  });
                 return;
               }
               else {
                  handleResult({
                    id : 'anonymouse-msg',
                    success: true,
                    msg: data.msg
                  });
                  setTimeout(function(){
                    window.location.href = "/survey";
                  },2000)
                 return;
               }
            }
        });
    }

    function validateLogin(event){
      var btn = $(this);
      if(btn.hasClass('disabled'))
        return;

      btn.addClass('disabled');
      $('.employee-loader').show();
      event.preventDefault();
       $.ajax({
            url: 'login_check',
            type: 'POST',
            data: $('#login').serialize(),
            success: function(data){
               $('.employee-loader').hide();
               if(data.status !== "success"){
                btn.removeClass('disabled');
                 handleResult({
                    id : 'main-page-msg',
                    success: false,
                    msg: data.msg
                  });
                 return;
               }
               else {
                  handleResult({
                    id : 'main-page-msg',
                    success: true,
                    msg: data.msg
                  });
                  setTimeout(function(){
                    window.location.href = "/survey";
                  },2000)
                 return;
               }
            }
        });
    }

    function handleResult(data) {
      var el = $('#'+ data.id);
          $('.form-group').removeClass('has-error');
      if(data.field){
          var container = $('#'+ data.field).parent().parent();
          container.addClass('has-error');
      }
      

      var addClass = (data.success) ? 'alert-success' : 'alert-danger';
      el.removeClass('alert-success').removeClass('alert-danger');
      el.addClass(addClass);
      el.find('p').text(data.msg);
      el.slideDown(400, function() {
          setTimeout(function() {
          el.slideUp();
          }, 5000);
      });
  }
</script>
</body>
</html>
